.App {
  text-align: center;
}

.App-bar {
  text-align: left;
}
.User-Menu {
  display: inline-block; 
  text-align: right;
  width: 30%;
}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
}
@media screen and (min-width: 640px) {
    .App-header {
      font-family: Lato, sans-serif;
      background-color: maroon;
      height: 220px;
      padding: 15px;
      color: white;
    }
    .App-header-text {
      font-size: 55px; 
      color: maroon;
    }
}
@media screen and (max-width: 800px) {
  .App-header {
    font-family: Lato, sans-serif;
    background-color: maroon;
    height: 280px;
    padding: 15px;
    color: white;
    font-size: 12px; 
  }
  .App-header-text {
    font-size: 15px; 
    color: maroon;
  }
}
@media screen and (max-width: 640px) {
  .App-header {
    font-family: Lato, sans-serif;
    background-color: maroon;
    height: 120px;
    padding: 15px;
    color: white;
    font-size: 12px; 
  }

  .App-header-text {
    font-size: 15px; 
    color: maroon;
  }
}
@media screen and (max-width: 480px) {
  .App-header {
    font-family: Lato, sans-serif;
    background-color: maroon;
    height: 110px;
    padding: 15px;
    color: white;
    font-size: 12px; 
  }

  .App-header-text {
    font-size: 15px; 
    color: maroon;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

