<div class="container">
    <h1 class="header-text">ID Registration</h1>
    <h3 class="header-subtext">Enter your ID Below:</h3>
    <div>
        <input type="text" class="input-text" ng-model="rsaId.IdNumber" ng-change="idInputChange()" placeholder="RSA ID Number" />
        <br/><label class="errorMessageLabel">{{ state.idErrorMessage }}</label>
    </div>
    <div class="input-label">
        <label class="input-label">Date of Birth </label>
    </div>
    <div>
        <input type="number" class="input-text input-date" ng-model="rsaId.YearOfBirth" placeholder="YYYY" />/
        <input type="number" class="input-text input-date" ng-model="rsaId.MonthOfBirth" placeholder="MM" />/
        <input type="number" class="input-text input-date" ng-model="rsaId.DayOfBirth" placeholder="DD" />
        <br/><label class="errorMessageLabel">{{ state.dateOfBirthErrorMessage }}</label>
    </div>
    <button ng-class="{buttonSubmit: !state.processing, buttonSubmitClicked: state.processing}" type="button" ng-disabled="state.processing" ng-click="submitHandler()">
        {{state.submit}}
    </button>
    <br />
    <div class="loader" ng-style="state.processing ? {'display' : 'inline-block'} : ''"></div>
    <div ng-class="{message: state.showMessage, errorMessage: state.submitError}">
        {{ state.message }}</div><br/>
        <div class="details">
            <span>Id Number: {{ idDetails.IdNumber }}<span><br/>
            <span>Date of Birth: 
                {{ idDetails.YearOfBirth }}/
                {{ idDetails.MonthOfBirth }}/
                {{ idDetails.DayOfBirth }}                
            <span><br>
            <span>Gender: {{ idDetails.Gender }}<span><br/>
            <span>Citizenship: {{ idDetails.Citizenship }}<span>
        </div>   
</div>