.container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.input-text {
    margin: 20px;
    border: 0px;
    border-bottom: 1px gray solid;
    text-align: center;
}

.input-date {
    width: 50px;
}

.input-label {
    margin-top: 20px
}

.errorMessageLabel {
    color: red;
    font-size: 10pt;
}

.buttonSubmit {
    width: 180px;
    height: 40px;
    border: 0;    
    background-color: dodgerblue;
    color: white;
    font-size: 12pt;    
    box-shadow: 3px 3px 5px #888888;
}

.buttonSubmitClicked {
    width: 180px;
    height: 40px;
    border: 0;    
    background-color: lightgray;
    color: white;
    font-size: 12pt;    
    box-shadow: 0;
}

.button-submit:active{
    box-shadow: 0;
}

.message {
    display: inline-block;
    color: white;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    border-radius: 15px;
    background-color: green;
    padding: 10px;
    opacity: 0.4;
}

.details {
    display: inline-block;
    color: black;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    opacity: 0.4;
    text-align: left;
}

.errorMessage {
    background-color: red;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    text-align: center;
    display: none;
    margin-top: 10px
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}