<body onload="Test()">
Test2
<script>
	function Test() {
		fetch("http://localhost:62597/api/RsaId", {
			method: 'POST',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json; charset=utf-8' //'x-www-form-urlencoded;charset=utf-8'
			},
			body: JSON.stringify({ Id: 1, Title: 'Test1' })
		})
		//.then((response) => response.json())
		.then((responseJson) => {  
			if(responseJson.error === undefined){
			callback(responseJson);
			}
			else{
				alert('Error: ' + responseJson.error + ' details: ' + responseJson.error_description)
			}
		}) 
	}
</script>
<body>